.header{
    background-image: url('../images/banner/banner1.png');
    height:808px;
    width:100%;
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
}
*{
    margin:0;
}
.image{
    display:flex;
    margin-top:200px;
    margin-left:200px;
    margin-right:200px;
    margin-bottom:150px;
    justify-content:center;
    align-items: center;
}
.text{
    margin-left:200px;
}
.container{
    padding-left:900px;
    padding-top:216px;
    padding-right:200px;
}
.possible{
   font-Weight:700px;
   font-Size:65px;
   padding-bottom:20px;
}
.Thinks{
    font-family: 'Work Sans';
    font-size:16px;
    color:#757575;
    padding-bottom:20px;
    text-align:right;
}
.btn-primary{
    font-family: 'Work Sans';
    color:#FFFFFF;
    font-Weight:600;
    font-size:20px;
    height: 64px;
    width:160px;
    Border:0;
    padding:18px 25px;
    border-radius: 5px;
    background-color:#FD6E0A;
    margin-left:260px;
}
.failure{
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 40px;
    padding-bottom:20px;
}
.belief{
    font-weight: 400;
    font-size: 16px;
    color:#757575;
    padding-bottom:7px;
}
.about-info-container{
    display:flex;
    justify-content: space-around;
    margin-top:50px;
    margin-left:200px;
    margin-right:200px;
    margin-bottom:100px;
}
.about-info{
    margin-left:60px;
    padding-bottom:20px;
}
.js{
    margin-left:13px;
    padding-bottom:20px;
}
.smoking{
    margin-left:50px;
    padding-bottom:20px;
}
.ecom{
    margin-left:15px;
    padding-bottom:20px;
}
.info-title{
    font-weight: 700;
    font-size: 30px;
    padding-bottom:10px;
}
.info-description{
    font-Weight:500px; 
    font-Size:25px;
    color:#737272;
    text-align:center;
}
.learn{
    font-Weight:500px; 
    font-Size:25px;
    color:#737272;
    margin-left:-4px;
}
.devlop{
    font-Weight:500px; 
    font-Size:25px;
    color:#737272;
    margin-left:-10px;
}
.tick{
    color:green;
}
.plan{
    text-align:center;
    font-weight: 700;
    font-size: 40px;
}
.gradient{
    position: relative;
    top: 0;
    left: 0;
    width: 1140px;
    height: 300px;
    margin:100px 200px;
}
.image1 {
    position: relative;
  }
  .image2 {
    position: absolute;
    top: 0px;
    left: 0px;
  }
.positive{
    color:white;
    font-weight: 700;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
}
.btn-secondary{
    font-family:Work Sans;
    Font-Weight:700px;
    Font-Size:20px;
    color:#FD6E0A;
    width: 160px;
    height: 64px;
    Border:0;
    padding:18px 35px;
    border-radius: 5px;
    background-color:#FFFFFF;
}
.design{
    background-color: black;
    padding:40px;
}
.section-title{
    text-align:center;
    margin-bottom:20px;
    font-weight:700;
    font-size:35px;
}
.contact .section-title{
    font-family: "Gill Sans", sans-serif;
    text-align:left;
    font-weight:700;
    font-size:20px;
}
.section-description{
    font-size:18px;
    margin-bottom:20px;
}
.contact{
    display:flex;
    color:white;
    gap:100px;
    padding:130px 200px;
}
.contact input[type="email"]{
    margin-bottom:24px;
    border:2px solid white;
    border-radius:5px;
    width:120px;
    padding: 18px 30px;
    background-color: black;
    color:#FFFFFF;
}
input{
    height:20px;
}
.contact a{
    text-decoration: none;
}
.Future{
    font-family: "Gill Sans", sans-serif;
    font-weight: 700;
    font-size: 45px;
}
.form{
    margin-left:300px;
}
.common{
    padding-bottom: 20px;
}
.left{
    padding-left:5px;
}